body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.ui.buttons .button,
.ui.button,
.ui.menu .item {
    font-size: 15px;
}

#app_navigation {
    margin-bottom: 10px;
}

.ui.vertical.menu.sidebar > .item:first-child,
#app_navigation .ui.menu {
    border-radius: 0;
}

#app_wrapper {
    margin-top: 30px;
}

#app_wrapper .column {
    font-size: 15px;
}

#app_wrapper .ui.vertically.divided.grid {
    padding: 0 20px;
}

#app_wrapper .column.chart.description {
    padding-top: 15px;
    overflow: hidden;
}

#app_wrapper .ui.divider.title-content {
    margin: 30px 0;
}

.cell.action {
    text-align: center !important;
    width: 15%;
    min-width: 165px;
}

#app_wrapper #paginator > div {
    float: left;
}

#app_wrapper #paginator > div:last-child {
    float: right;
}

#view_wrapper .ui.three.column.grid:not(:first-child) {
    padding-top: 10px;
}

.text.center {
    text-align: center;
}